.container {
	background:#FFF;
	width:100%;
	overflow:auto;
}
.right-content, .left-content {
	float:left;
}

.right-content {
  width:60%;
}

.left-content {
	border-right:5px solid #666;
	text-align:left;
  width:40%;
}

.left-content p {
	margin-top:10px;
}
.right-content p {
	margin-top:10px;
}
.container p {
-webkit-transition: all 0.7s ease-in-out;
-moz-transition: all 0.7 ease-in-out;
-ms-transition: all 0.7s ease-in-out;
-o-transition: all 0.7s ease-in-out;
transition: all 0.7s ease-in-out;
}
.left-content .more-padding {
  padding-right:200px;
}
.right-content .more-padding {
  padding-left:200px;
}

#left-content-time {
  font-size: 10px;
}

#left-content-owner {
    font-size: 11px;
}

#right-content-item {
  margin-left: 20px;
  font-size: 13px;
}
